asgiref==3.4.1
attrs==21.2.0
boto3==1.20.46
botocore==1.23.46
buycoins==1.0.0
captcha==0.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.3
cryptography==3.4.7
decorator==5.1.1
dj-database-url==0.5.0
Django==3.2.5
django-appconf==1.0.4
django-compressor==2.4.1
django-filter==21.1
django-form-builder==0.16.4
django-heroku==0.3.1
django-jsonforms==1.1.2
django-libsass==0.9
django-rest-knox==4.1.0
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
dynaconf==3.1.7
filesig==0.3.0.post1
gql==2.0.0
graphql-core==2.3.2
gunicorn==20.1.0
hvac==0.11.2
idna==3.2
importlib-metadata==4.10.0
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==3.2.0
knox==0.1.14
libsass==0.21.0
loguru==0.6.0
Markdown==3.3.6
MarkupSafe==2.0.1
Pillow==8.3.1
promise==2.3
psycopg2==2.9.1
pycparser==2.20
PyJWT==1.7.1
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
rcssmin==1.0.6
requests==2.26.0
rjsmin==1.1.0
Rx==1.6.1
s3transfer==0.5.0
shortuuid==1.0.8
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.7
validators==0.18.2
whitenoise==5.3.0
zipp==3.7.0
